* {
    border: 1px solid red;
    margin: 2px;
    padding: 2px;
}
.navigation-panel {
    display: flex;
    justify-content: space-between;
}
.panel {
   height: 20px;
   width: 300px;
    display: flex;
    justify-content: start;
}

.panel a {
    margin: 0 15px;
    text-decoration: none;
    color: black;
}

.panel a.active {
    color: green;
    border-bottom: 2px solid green;
}

.content {
    display:flex;
    justify-content: space-evenly; 
}

.product:hover {
    box-shadow:  0px -5px 0px 0px  green;
}

.product-price {
    color: green;
}

.discount {
    display:  none;
    position: absolute;
    background-color: green;
    width: 70px;
    height: 25px;
    color: #ddd;
}
.walpapper:hover .discount {
    display: block;
}

del {
    color: grey;
}

.buttons-1 {
   
    display: flex;
    justify-content: center;
  
    
}
.buttons-2 {
   
    display: flex;
    justify-content: center;
    
}

.buttons-3 {
   
    display: flex;
    justify-content: center;
   
}
.hidden-block{
    display:none ;
    
}
.product:hover .hidden-block {
    display: block;
    position: absolute;
}